@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --accent: #f59e0b; /* Amber 500 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
